/* Variable Class (Change according to your need) */

.btn-color_r{
    @apply
    bg-green-800
    hover:bg-green-600
    text-white;
}

.btn-color-ghost_r{

    @apply
    border-2
    text-green-600
    border-green-600
    hover:bg-green-600
    hover:text-white;

}




/* Constant Class (Change is rarely needed) */

.btn_r{
    @apply 
    inline-block
    cursor-pointer
    focus:outline-none
    rounded-lg
    py-2 px-3 md:py-3 md:px-4
    text-sm md:text-base xl:text-lg
    font-bold;
}


.btn-transition-scale_r{
    @apply
    transform
    hover:scale-95
    transition
    ease-out
    duration-300;
}
